In [1]:
import pandas as pd


import plotly.express as px

In [2]:
results = pd.read_csv("../data/macroalgae_final.csv")
results.head()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species
0,4,-158.1254,21.5714,"Waialua, Oahu, HI",1900,1.0,Plantae,Ulvophyceae,Codiaceae,Codium,Codium tomentosum
1,5,-158.1254,21.5714,"Waialua, Oahu, HI",1900,1.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva fasciata
2,16,-158.1830,21.4333,Waianae,1900,5.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca
3,17,-6.8300,61.4500,"Suderø, Vaags Ejde",1900,5.0,Chromista,Phaeophyceae,Fucaceae,Pelvetia,Pelvetia canaliculata
4,18,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus

In [ ]:
results = results.dropna(how = "any")

In [3]:
results.describe()

         Unnamed: 0           lon           lat          year         month
count  18831.000000  18831.000000  18831.000000  18831.000000  18631.000000
mean   13932.851840    -16.996950     48.339809   1979.181987      4.241855
std     7193.459291     41.833026     15.696060     31.020235      2.433487
min        4.000000   -174.577100    -54.497000   1900.000000      1.000000
25%     8758.500000    -57.527400     44.450500   1966.000000      2.000000
50%    14708.000000     -4.544500     51.639900   1986.000000      4.000000
75%    19998.500000      4.000000     56.211300   2003.000000      6.000000
max    25179.000000    176.930000     76.533300   2020.000000     12.000000

In [13]:
results['Most_Common_Price'] = (
    results.groupby('species')['year'].transform(lambda x: x.value_counts()))

ValueError: Length of passed values is 120, index implies 3083.

In [ ]:
results.head(10)

In [ ]:
results.to_csv("macroalgae_final2.csv", index = False)

In [ ]:
fucus['count'].max()

In [ ]:
fucus = results[results['species'] == 'Fucus serratus']
fig = px.line(results, x="year", y = 'count', color = 'species')

fig.update_layout({'plot_bgcolor': 'rgba(0, 0, 0, 0)',
'paper_bgcolor': 'rgba(0, 0, 0, 0)'})

fig.update_xaxes(showline=True, linewidth=2, linecolor='black')
fig.update_yaxes(showline=True, linewidth=2, linecolor='black')

fig.show()

In [ ]:
species = results[results['species'] == "Fucus serratus"]


map_2 = folium.Map(location = [40.4146, -3.7004], tiles='CartoDB dark_matter',  zoom_start = 6)


target_species = folium.FeatureGroup(name = "species")
HeatMap(data=species[["lat","lon"]],radius=15).add_to(target_species)
target_species.add_to(map_2)
map_2